@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.first_section {
    background-color: #F4F6F7;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navigation {
    display: flex;
    /* border: solid red; */
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}

.navigation > img {
  height: 29%;
  margin-top: 35px;
  margin-right: 59%;
}

.navigation > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-top: 35px;
    margin-right: 90px;
}


.main-content_container {
    display: flex;
    /* border: solid red;  */
    height: 60vh;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
}

.first_section_left {
    display: flex;
    /* border: solid red;  */
    width: 50%;
}

.first_section_right {
    display: flex;
    /* border: solid red;  */
    width: 50%;
}

/* __________________________________________________________________________________________ */

.first_section_left {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 5%;
   
}

.first_section_left > :first-child {
    color: #2557AB;
    font-weight: 500;
font-size: 16px;
line-height: 22px;
margin-bottom: -50px;
}

.first_section_left > :nth-child(2) {
    font-weight: 700;
font-size: 46px;
line-height: 54px;
letter-spacing: -1px;
margin-bottom: -40px;
}

.first_section_left > :nth-child(3) {
    font-weight: 400;
font-size: 16px;
line-height: 27px;
}

.first-section_left_btn {
   
    width:19vw ;
    height: 7vh;
}

.first-section_left_btn > input {
    width: 100%;
    height: 100%;
    font-weight: 600;
    border: none;
font-size: 17px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
background: #FF7F57;
border-radius: 3px;
box-shadow: 7px 5px 5px rgb(219, 219, 219);
cursor: pointer;
}


.rights1 > img {
    height: 40vh;
}

.first_section_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}