@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
    background-color: rgb(2, 2, 25);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: #FFFFFF;
}


.navigation{
    color: white;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;

    &__items{
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 27%;
        justify-content: space-between;
        position: relative;
        right: 20%;
    }

    &__btn{
        font-family: inherit;

        > :nth-child(1){
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            border: none;
            background: transparent;
        }
        > :nth-child(2){
            border: 2px solid #22A75D;
            border-radius: 52px;
            width: 147px;
            height: 48px;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
            background: transparent;
        }
    }
}

.menu{
    display: none;
}

.arrows{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 9vh;

    p{
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: -0.02em;
        color: #FFFFFF;
    }

    button{
        color: white;
        width: 50px;
        height: 50px;
        border-radius: 150% ;
        background: transparent;
    border: 2px solid rgb(50, 77, 86);
    text-align: center;
    }
}


.profiles{
    margin-top: 4vh;
    height: 51vh;
    // height: 560px;
    width: 17vw;
    // padding:0 1.5vw 0 1.5vw;
    display: flex;
    flex-direction: row;
    width: 83%;
    justify-content: space-between;

    &__first{
        background-color: #0D0B16;
        width: 378px;
        height: 560px;
        padding:0 .5vw 0 .5vw;

        > :nth-child(1){
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            color: #FFFFFF;
        }

        > :nth-child(2){
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
}

.lee{
    background-image: url("../img/fffffffff.svg");
    background-position: bottom;
    background-repeat: no-repeat;
}


@media screen and (max-width: 480px) {
    .navigation{
        
        &__items{
            display: none;
        }
        &__btn{
            display: none;
        }
    }
    .menu{
        display: block;
        font-size: 75px;
    }

    .arrows{
        div{
            display: none;
        }
    }
}