@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aleo&display=swap");
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  margin: 0%;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  height: 90vh;
  width: 100vw;
  background-image: url(../img/navBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation h1 {
  text-align: center;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.navigation > :nth-child(2) {
  text-align: center;
  letter-spacing: 6.82px;
  color: #FFFFFF;
  margin-bottom: 4%;
}
.navigation form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5.9%;
}
.navigation form > :nth-child(1) {
  width: 653px;
  height: 63px;
  text-align: center;
  letter-spacing: 2.8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  font-family: inherit;
}
.navigation form > :nth-child(2) {
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 153px;
  height: 63px;
  background: #5474FD;
  border: 2px solid #FFFFFF;
}
.navigation > :nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation > :nth-child(4) > :nth-child(1) {
  margin-bottom: -2px;
  letter-spacing: 2.8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.secondNav {
  height: 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #5474FD;
  color: #FFFFFF;
}
.secondNav h1 {
  letter-spacing: 2.4px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
.secondNav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.whyUs {
  height: 80vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/whyUs-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.whyUs__text {
  width: 39%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whyUs__text > :nth-child(1) {
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  color: inherit;
  font-family: "Aleo", serif;
}
.whyUs__text > :nth-child(2) {
  font-size: 16px;
  line-height: 26px;
  width: 560px;
  height: 158px;
  letter-spacing: 1.6px;
  color: inherit;
}
.whyUs__text input {
  width: 228px;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Aleo", serif;
  color: inherit;
  background: #496BFE;
  border: none;
}
.whyUs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 49%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whyUs__img img {
  width: 50%;
}
.whyUs__img > :nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.steps {
  background-color: #333333;
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.steps div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
  height: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.steps div img {
  width: 20%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.steps span {
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo", sans-serif;
  margin-right: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
.steps > :nth-child(4) {
  position: absolute;
  z-index: 999;
  width: 30%;
  height: 6.9%;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  padding-top: 1.7%;
}

.spain-top {
  height: 90vh;
  width: 100vw;
  background-image: url(../img/spain1-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spain-top > :nth-child(1) {
  padding-left: 20px;
  width: 30%;
  height: 374px;
  background: #232323;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 7%;
}
.spain-top > :nth-child(1) p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: -5%;
}
.spain-top > :nth-child(1) > :nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.spain-top > :nth-child(1) > :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 508px;
  height: 78px;
  color: #E8E8E8;
}
.spain-top > :nth-child(1) input {
  color: white;
  background-color: #496BFE;
  width: 228px;
  height: 63px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.spain-bottom {
  height: 90vh;
  width: 100vw;
  background-image: url(../img/spain2-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spain-bottom > :nth-child(1) {
  margin-right: 7%;
  width: 30%;
  height: 374px;
  background: #232323;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 7%;
}
.spain-bottom > :nth-child(1) p {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1.5px;
  color: #E8E8E8;
  margin-bottom: -5%;
}
.spain-bottom > :nth-child(1) > :nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.spain-bottom > :nth-child(1) > :nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 508px;
  height: 78px;
  color: #E8E8E8;
}
.spain-bottom > :nth-child(1) input {
  color: white;
  background-color: #496BFE;
  width: 228px;
  height: 63px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.review {
  height: 90vh;
  width: 100vw;
  background-image: url(../img/review-BG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.review > :nth-child(1) {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}
.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 45%;
}
.review__content > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #333333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.review__content > :nth-child(2) :nth-child(1) {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.review__content > :nth-child(2) :nth-child(2) {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 26px;
}