@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(48, 45, 45);
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

.blue-item {
  color: #A3B8D7 !important;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 248px;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1E0C06;
  border-radius: 0 0 70px 70px;
}
.navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.slider {
  height: 900px;
  width: 100%;
  border: red solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your-class {
  border: red solid;
  height: 100%;
  width: 50%;
}

.theWood {
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
  color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wood {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.wood__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wood__profile p {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.wood__profile ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wood__profile ul li {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin-top: 5.3px;
}
.wood__profile ul li span {
  color: #FFC099;
}

.QQQ {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 500;
  font-size: 90px;
  line-height: 132.9%;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9vh;
}
.questions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.questions__content p {
  font-weight: 500;
  font-size: 30px;
  line-height: 139.4%;
}
.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.questions__form input {
  border: solid #728BAD 4px;
  border-radius: 42px;
  margin: 10px 0 0 0;
}

.form__credentials {
  width: 598px;
  height: 77px;
  font-weight: 500;
  font-size: 30px;
  line-height: 139.4%;
  background: transparent;
  color: #F5F5F5;
}

.form__questions {
  width: 598px;
  height: 257px;
  font-weight: 500;
  font-size: 30px;
  line-height: 139.4%;
  background: transparent;
  border: solid #728BAD 4px;
  border-radius: 42px;
  margin: 10px 0 0 0;
  color: #F5F5F5;
}

#send-btn {
  width: 216px;
  height: 58px;
  background: #728BAD;
  border-radius: 42px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #F5F5F5;
}