@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 30, 30);
    color: white;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    background-image: url(../img/BGlines.svg);
    background-size:100vw;
    background-repeat: repeat-y;
}
body::-webkit-scrollbar {
    display: none;
    }

.blue-item{
    color: #A3B8D7!important;
}

.navigation{
    display: flex;
    flex-direction: row;
    height: 248px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: #1E0C06;
    border-radius:  0 0 70px 70px;

    & ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;

        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
}


.slider{
    margin-top: 17vh;
    height: 100vh;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

    // border: red solid;
    display: flex;
    align-items: center;
    flex-direction: column;

    h2{
        font-weight: 500;
        font-size: 90px;
        line-height: 132.9%;
        align-self: flex-start;
    }
}


.your-class{
    // border: red solid;
    width: 70vw;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.theWood{
    font-style: normal;
font-weight: 500;
font-size: 90px;
line-height: 132.9%;
color: #F5F5F5;
display: flex;
justify-content: center;
align-items: center;
}


.wood{
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__profile{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
        }

        ul{
            list-style: none;
            display: flex;
            flex-direction: column;


            li{
                font-weight: 500;
                font-size: 30px;
                line-height: 36px;
                margin-top: 5.3px;
                span{
                    color: #FFC099;
                }
            }
        }
    }
}

.QQQ{
    align-self: center;
    font-weight: 500;
    font-size: 90px;
    line-height: 132.9%;
    }

    .questions{
        display: flex;
        flex-direction: row;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        justify-content: space-between;
        margin-bottom: 9vh;

        &__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p{
                font-weight: 500;
                font-size: 30px;
                line-height: 139.4%;
            }
        }

        &__form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            input{
                border: solid #728BAD 4px;
                border-radius: 42px;
                margin: 10px 0 0 0;
            }
        }
    }

    .q-min{
        display: none;
    }

    .form__credentials{
        width: 598px;
        height: 77px;
        font-weight: 500;
        font-size: 30px;
        line-height: 139.4%;
        background: transparent;
        color: #F5F5F5;
    }

    .form__questions{
        width: 598px;
    height: 257px;
    font-weight: 500;
    font-size: 30px;
    line-height: 139.4%;
    background: transparent;
    border: solid #728BAD 4px;
    border-radius: 42px;
    margin: 10px 0 0 0;
    color: #F5F5F5;
    }

    #send-btn{
        width: 216px;
        height: 58px;
        background: #728BAD;
        border-radius: 42px;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        color: #F5F5F5;
    }

    .contact{
        width: 70%;
        padding: 0 15% 0 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 33vh;


        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;


            h2{
                font-weight: 500;
                font-size: 90px;
                line-height: 132.9%;
            }

            ul{
                list-style: none;
                li{
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 139.4%;
                }
            }
        }

        &__map{
            :nth-child(1){
                width: 493px;
                height: 428px;
                border-radius: 19px;
            }
        }
    }

    .footer{
        width: 90%;
        padding: 0 5% 0 5%;
        display: flex;
        flex-direction: column;
        z-index: 9;
        background-color: #000000;

        &__content{
            width: 90%;
            min-width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            ul{
                width: 100%;
                list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            font-weight: 500;
            font-size: 30px;
            line-height: 139.4%;
            }
        }
        a{
        color: #F5F5F5;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;
        line-height: 139.4%;
        padding: 33px 0 33px 0;
        }
    }


    // ___________________________________________________________________

    @media screen and (max-width: 480px)   {

        .navigation{
            ul{
                flex-direction: column;
                // gap: 11px;
                width: 100vw;
                height: 250px;
                text-align: center;
                position: fixed;
                left: -120%;
                li{
                    width: 100vw;
                    border: #728BAD solid;
                    height: 45px;
                }
            }
        }

        .slider{
            margin: 22px 0;
            padding: 0%;
            h2{
                font-size: 30px;
            }
        }
        .your-class{
            align-self: flex-start;
            width: 300px;
        }
        .theWood{
            font-size: 30px;
        }

        .wood{
            max-width: 480px;
            overflow-x: auto;
            gap: 45px;
            align-items: flex-start;

            &__profile{
                position: relative;
                left: 123px;
            }
        }

        .QQQ{
            font-size: 30px;
        }

        .questions{
            flex-direction: column;
            padding: 0;
            justify-content: center;
            align-items: center;

            &__form{
                :nth-child(1){
                    max-width: 90vw;
                    align-self: center;
                }
                :nth-child(2){
                    max-width: 90vw;
                    align-self: center;
                }
                :nth-child(3){
                    max-width: 90vw;
                    align-self: center;
                }
            }

            .q-min{
                display: block!important;
                font-weight: 500;
                font-size: 15px;
                line-height: 139.4%;
                color: #F5F5F5;
            }
            .q-full{
                display: none;
            }
            &__content{
                img{
                    display: none;
                }
            }
        }
        .q-min{
            display: block!important;
            font-weight: 500;
            font-size: 15px;
            line-height: 139.4%;
            color: #F5F5F5;
        }
        .q-full{
            display: none;
        }

        .contact{
            flex-direction: column;
            align-self: center;
            align-items: center;
            &__info{
                flex-direction: column;
                ul{
                    li{
                        margin: 12px 0;
                    }
                }
            }
            &__map{
                :nth-child(1){
                    width: 90vw;
                    align-self: flex-start;
                }
            }
        }

        .footer{
            padding-top: 15px;
            width: 100vw;
            // height: 300px;
            align-self: center;
            &__content{
                flex-direction: column;
                align-items: center;
                img{
                    width: 200px;
                }
                ul{
                    flex-direction: column;
                    gap: 20px;
                    text-align: center;
                }
            }
            a{
                text-align: center;
            }
        }
    }