@import './constants.scss' ;

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.section1 {
    height: 90vh;
    width: 100vw;
    background-color: $s1background ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
        &__navigation {
            font-family: 'Poppins', sans-serif;
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: center;
            justify-content: space-between;
            padding-top: 2.3%;
            margin-left: 12%;

                img {
                    width: 195px;
                    height: 49px;
                    
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    width: 140%;
                    justify-content: space-between;

                        li {
                            font-family: inherit;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #03045E;
            
                        }

                        button {
                        width: 120px;  
                        height: 49px;
                        background: #03045E;
                        border-radius: 5px;
                        color: $white;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 27px;
                        margin-top: -9px;
                        }
                }
        
        }
}



.main-content_section1 {
    // border: solid 1px red;
    height: 624px;
    width: 80vw;
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    > :nth-child(2) {
        // border: solid 1px red;
        height: 456px; 
        width:624px;
        background-image: url(../imgs/s1rightimg.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    > :nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 317px;
        width: 585px;

        > :nth-child(1) {
            font-weight: 700;
            font-size: 48px;
            line-height: 68px;
            color: #03045E;
        }

        > :nth-child(2) {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: rgba(3, 4, 94, 0.5);
        }

       > :nth-child(3) {
        width: 188px; 
        height: 61px;
            button {
                width: 100%;
                height: 61px;
                background: #0098FF;
                border-radius: 5px;
                color: $white;
                border: none;
                font-family: inherit;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
            }
       }
    }
}


.section2 {
    border: solid red 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: center;
    width: 100vw;
    height: 397px;

    > :nth-child(1) {
        border: solid red 1px;
        height: 134px;
        width: 35%;
        display: flex;
        flex-direction: column;
            > :nth-child(1) {
                border: solid red 1px;
                font-family: 'Ubuntu';
                font-weight: 700;
                font-size: 32px;
                line-height: 37px;
                color: #03045E;
            }

            > :nth-child(2) {
                > :nth-child(1) {
                    display: flex;
                    flex-direction: row;

                    > :nth-child(1) {
                        height: 60px;
                        width: 500px;
                        border: none;
                        background-color: $gray;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        color: #03045E;
                        opacity: 0.5;
                    }

                    > :nth-child(2) {
                        background-color: $secondary;
                        width: 159px;
                        height: 60px;
                        border-radius: 0px 5px 5px 0px;
                        border: none;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 27px;
                        color: $white;
                    }

                }
            }
    }
}
